<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Simple App</title>
    <script src="/lib/react.js"></script>
    <script src="/lib/react-dom.js"></script>
    <script src="/lib/browser.min.js"></script>
</head>
<title></title>
<body>
<div id="root"></div>
<script type="text/babel" src="/react/app.js"></script>
</body>
</html>