doctype html
html
    head
        title= appTitle
        script(type="text/javascript", src="/js/jquery-2.0.3.min.js")
        link(rel='stylesheet', href='/css/bootstrap-3.0.2/css/bootstrap.min.css')
        link(rel='stylesheet', href='/css/bootstrap-3.0.2/css/bootstrap-theme.min.css')
        link(rel='stylesheet', href='/css/style.css')
        link(href='/css/font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800', rel='stylesheet', type='text/css')
        script(type="text/javascript", src="/css/bootstrap-3.0.2/js/bootstrap.min.js")
            //react js
        script(type="text/javascript", src="/lib/browser.min.js")
        script(type="text/javascript", src="/lib/react.js")
        script(type="text/javascript", src="/lib/react-dom.js")
        script(type="text/babel", src="/js/core.js")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
        // WARNING: Respond.js doesn't work if you view the page via file
        //if lt IE 9
    script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
    script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
    body
        #body
            block page
            block header
                nav.navbar.navbar-default.navbar-custom.navbar-fixed-top
                    .container-fluid
                        .navbar-header.page-scroll
                            button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
                                span.sr-only Toggle navigation
                                |                     Menu
                                i.fa.fa-bars
                            a.navbar-brand(href='/') Home
                            // Collect the nav links, forms, and other content for toggling
                        #bs-example-navbar-collapse-1.collapse.navbar-collapse
                            include includes/menu
                header.intro-header(style="background-image: url('/img/home-bg.jpg')")
                    .container
                        .row
                            .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
                                .site-heading
                                    h1=appTitle
                                    hr.small
                                    span.subheading=appDescription
                //main content
                .container
                    .row
                        block alert
                            div.alert.alert-warning.hidden
                        .content.col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
                            block content
                    block footer
                        footer
                            .container
                                .row
                                    .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
                                        ul.list-inline.text-center
                                            li
                                                a(href='#')
                                                    span.fa-stack.fa-lg
                                                        i.fa.fa-circle.fa-stack-2x
                                                        i.fa.fa-twitter.fa-stack-1x.fa-inverse
                                            li
                                                a(href='#')
                                                    span.fa-stack.fa-lg
                                                        i.fa.fa-circle.fa-stack-2x
                                                        i.fa.fa-facebook.fa-stack-1x.fa-inverse
                                            li
                                                a(href='#')
                                                    span.fa-stack.fa-lg
                                                        i.fa.fa-circle.fa-stack-2x
                                                        i.fa.fa-github.fa-stack-1x.fa-inverse
                                        #contact.copyright.text-muted
        script(type="text/javascript", src="/js/common.js")